.header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--main-color);
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
  top: 0;
  z-index: 1000;
}

.search {
  position: relative;
  width: 400px;
  border-radius: 20px !important;
  background-color: var(--secondary-color) !important;
  font-size: 16px !important;
}
 .search-modal-show{
    display: none;
  }

.shop-login{
  display: flex;
  align-items: center;
  gap: 20px;
}
.shoppnig {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.4s;
}
.shoppnig .bi-cart3 {
  font-size: 27px;
}
.shoppnig .num {
  position: absolute;
  top: -3px;
  left: 13px;
  background-color: #00796B;
  width: 25px;
  height: 25px;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
}
.shoppnig:hover .num{
  color: var(--main-color);
}
.toggle{
  font-size: 40px;
  display: none;
}
.login{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.login .bi-person-fill{
  font-size: 30px;
}
:is(.login, .shoppnig):hover{
  color: var(--secondary-color);
}
.nav{
  width: 50%;
  margin-inline: auto;
  padding: 10px 17px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  background-color: var(--secondary-color); position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: move 4s ease-in-out forwards;
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translatex(50%);
  }
  100% {
    opacity: 1;
    transform: translatex(-46%);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link li{
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: 0.4s;
}
.link li::after{
  
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  border-block: 1px solid var(--main-color);
  transform: scaleX(0.1);
  opacity: 0;
  transition: .4s;
}
.link li:hover::after , .link .active::after{
  transform: scaleX(1);
  opacity: 1;
  
}
.link li:hover{
  /* color: green; */
  transform: scaleX(1.2);
}
.nav .close{
  display: none;
}


/* MEDIA QUERY */
@media (max-width: 991px){
  .nav{
    position: fixed;
    height: 100vh;
    width: 300px;
    margin-inline: 0 ;
    top: 0;
    right: -1500px;
    transform: translateX(0);
    border-radius: 0;
    border: none;
    animation: none;
    transition: 1s;
  }
  .nav .close{
  display: block;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px;
  transition: .4s;
}
.nav .close:hover{
  color: red;
}
.search{
  width: 250px;
}
  .search-modal{
    display: none;
  } 
  .search-modal-show{
    display: block;
  }
  .link{
    flex-direction: column;
    justify-content: start;
    place-items: start;
    position: absolute;
    top: 10%;
    gap: 30px;
    font-size: 20px;
  }
  .shop-login p{
    display: none;
  }
  .toggle{
    display: block;
    cursor: pointer;
  }
}